#zPicture 
{
VISIBILITY: hidden; POSITION: absolute;
		filter:progid:DXImageTransform.Microsoft.RadialWipe(duration=2,wipeStyle=clock);
}
body 
{
	color:rgb(64,131,242);
	BACKGROUND-COLOR: rgb(242,255,255);
}
#zpicture { border-top: rgb(186,235,254) 10px ridge; POSITION: absolute; border-right: rgb(186,235,254) 10px ridge; border-left: rgb(186,235,254) 10px ridge; border-bottom: rgb(186,235,254) 10px ridge;}
a {color:rgb(64,131,242);}
#bodyarea 
{
	COLOR: rgb(64,131,242); 
}
.mainmenuitem
{	
	width: 100%;
	height: 100px;
	background-color: rgb(242,255,255);
}
#bars 
{
	width:18px;
	float:left;
	height: 100%;
	margin-right:-3px;
	background-color: rgb(242,255,255);
}
.submenuitem1 a:hover
{
	background-color:#425055;
	color:#8fa2a7;
}

.submenuitem1 a 
{
	background-color:#ced6d9;
	color:#425055;
}
.submenuitem2 a
{
	background-color:#436f74;
	color:#9dc2c6;
}

.submenuitem2 a:hover 
{
	background-color:#e1efe2;
	color:#436f74;
}
.submenuitem3 a:hover
{
	background-color:#4b7b81;
	color:#bcd5d8;
}

.submenuitem3 a
{
	background-color:#f2f7f2;
	color:4b7b81;
}

